html {
  background: url(../pexels-lumn-316466.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  background-color: #FFF9F9;
  border-width: 8px;
  width: 10%;
}
h1 {
  color: #35858B;
}
h3 {
  color: #35858B;
}
img {
  border-radius: 50%;
}
